@model GCD0705.AppDev.Models.Task
@{
    ViewBag.Title = "Index";
}

<h2>Index Task</h2>

<a href="" class="btn btn-primary">Create a Task</a>


<table class="table table-bordered">
<thead>
<tr>
  <th>Task #</th>
  <th>Task Name</th>
  <th>Task Due Date</th>
  <th>Action</th>
</tr>
</thead>
<tbody>
<tr>
  <td>@Model.Id</td>
  <td>@Model.Name</td>
  <td>@Model.DueDate.ToString()</td>
  <td>
  <a href="" class="btn btn-primary">Details</a>
  <a href="" class="btn btn-default">Edit</a>
  <a href="" class="btn btn-danger">Delete</a>
  </td>
</tr>
</tbody>
</table>